.App {
  text-align: center;
}

li {
  list-style-type: none;
  border: 1px solid black;
}

ul.page-numbers {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul.page-numbers li {
  padding: 10px;
  margin: 0 2px;
  cursor: pointer;
}
